$me-yellow: #ffe600; // Charakterystyczny żółty
$me-black: #1a1a1a; // Ciemny grafit / czerń
$me-gray: #f2f2f2; // Jasnoszare tło aplikacji
$me-red: #e3000f; // Czerwień (np. do usuwania, promocji)
$text-primary: #1a1a1a;